* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  max-width: 530px;
  background-image: url(../image/small-resolution.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid black;
}
.submit-button {
  padding: 0.5px 8px;
  margin: 5px;
  background-color: #703937;
  border: 1.5px solid #212529;
  border-radius: 3px;
  color: white;
}
.emoji {
  font-size: 40px;
}
.current-temperature {
  font-size: 40px;
}
.units,
.line {
  font-size: 20px;
  text-decoration: none;
  vertical-align: top;
  position: relative;
  top: 5px;
  left: -5px;
}
.line {
  font-size: 15px;
  top: 8px;
}
li {
  list-style: none;
}
