* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  font-family: "KoHo", sans-serif;
  max-width: 530px;
  background-image: url(../image/small-resolution.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 30px;
  border: 1.4px solid #444444;
}
.submit-button {
  padding: 0.5px 8px;
  margin: 5px;
  background-color: #703937;
  border: 1.5px solid #212529;
  border-radius: 3px;
  color: white;
}
h1 {
  color: #aa4400;
  font-weight: bold;
}
.day-and-time {
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 400;
  color: #561c17;
}
.emoji img {
  width: 55px;
}
.current-temperature {
  font-size: 40px;
  color: #703937;
  position: relative;
  bottom: 5px;
}
.units,
.line {
  font-size: 20px;
  text-decoration: none;
  vertical-align: top;
  position: relative;
  top: 2px;
  left: -5px;
  color: #ff9e5e;
}
.units:hover {
  color: #703937;
}
.line {
  font-size: 15px;
  top: 5.5px;
  color: #212529;
}
ul {
  padding-left: 5px;
}
li {
  list-style: none;
  position: relative;
  top: 10px;
  color: #703937;
  font-weight: bold;
}
.credit {
  margin-top: 3px;
  margin-left: 2px;
  font-size: 13px;
}
.credit img {
  width: 15px;
  position: relative;
  bottom: 1px;
}

.credit a {
  color: #703937;
}
