* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  max-width: 530px;
  background-image: url(../image/small-resolution.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid black;
}
